[Service]
ExecStart=
ExecStart=/usr/bin/dockerd  -H fd:// \
                            --init \
                            --live-restore \
                            --exec-opt native.cgroupdriver=systemd \
                            --data-root=/data/docker \
                            --log-driver json-file \
                            --log-opt max-size=30m \
                            --log-opt max-file=3

# support kubernetes CSI(Mount propagation)
# refs: https://kubernetes.io/docs/concepts/storage/volumes/#csi
MountFlags=shared

[Install]
WantedBy=multi-user.target
